<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IShop"
        tools:targetApi="31">
        <activity
            android:name=".Type_Manager.Page_Manage_Product"
            android:exported="false" />
        <activity
            android:name=".Type_Customers.Page_Detail_List_Product"
            android:exported="false" />
        <activity
            android:name=".Demo_ToolBar_Search"
            android:exported="false" />
        <activity
            android:name=".Type_Manager.Page_Statistical_Purchase"
            android:exported="false" />
        <activity
            android:name=".Type_Manager.Page_Statistical_Product"
            android:exported="false" />
        <activity
            android:name=".Type_Manager.Page_Statistical_Customer"
            android:exported="false" />
        <activity
            android:name=".Type_Manager.Page_Statistical_Revenue"
            android:exported="false" />
        <activity
            android:name=".Activity_Manage.Page_Detail_Bill"
            android:exported="false" />
        <activity
            android:name=".Type_Customers.Page_Fix_Profile"
            android:exported="false" />
        <activity
            android:name=".Activity_Manage.Page_Create_Bill"
            android:exported="false" />
        <activity
            android:name=".Type_Manager.Page_Customer_Profile"
            android:exported="false" />
        <activity
            android:name=".Type_Manager.Page_Fix_Product"
            android:exported="false" />
        <activity
            android:name=".Type_Manager.Page_Add_Product"
            android:exported="false" />
        <activity
            android:name=".Type_Manager.Page_Manage_Detail_Product"
            android:exported="false" />
        <activity
            android:name=".Fragment_Drawer_Menu.FragPage_Statistical"
            android:exported="false" />
        <activity
            android:name=".Fragment_Drawer_Menu.FragPage_Manage_Customers"
            android:exported="false" />
        <activity
            android:name=".Fragment_Drawer_Menu.FragPage_Manage_Product"
            android:exported="false" />
        <activity
            android:name=".Fragment_Drawer_Menu.FragPage_Manage_Bill"
            android:exported="false" />
        <activity
            android:name=".Fragment_Drawer_Menu.FragPage_Manage_Orders"
            android:exported="false" />
        <activity
            android:name=".Activity_Manage.Page_Detail_History_Orders"
            android:exported="false" />
        <activity
            android:name=".Activity_Manage.Page_History_Orders"
            android:exported="false" />
        <activity
            android:name=".Type_Customers.Page_Payment"
            android:exported="false" />
        <activity
            android:name=".Type_Customers.Fragment_Page_TypeC.FragPage_Profile"
            android:exported="false" />
        <activity
            android:name=".Type_Customers.Fragment_Page_TypeC.FragPage_Notification"
            android:exported="false" />
        <activity
            android:name=".Type_Customers.Fragment_Page_TypeC.FragPage_Cart"
            android:exported="false" />
        <activity
            android:name=".Type_Customers.Fragment_Page_TypeC.FragPage_Home"
            android:exported="false" />
        <activity
            android:name=".Type_Customers.Page_Detail_Product"
            android:exported="false" />
        <activity
            android:name=".Type_Manager.Page_Navigation_Type_M"
            android:exported="false" />
        <activity
            android:name=".Type_Employee.Page_Navigation_Type_E"
            android:exported="false" />
        <activity
            android:name=".Page_Intro"
            android:exported="true" />
        <activity
            android:name=".Page_Sign_Up"
            android:exported="false" />
        <activity
            android:name=".Page_Sign_In"
            android:exported="true" />
        <activity
            android:name=".Type_Customers.Page_Navigation_Type_C"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".service.LoginService"/>
    </application>

</manifest>